* {box-sizing: border-box;}

body {
    margin: 0;
  }
.main-container {
    height: 100vh;
}
header {
    height: 180px;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 184, 184);
    opacity: 0.8;
}
header div.logo {
    flex: 1;
    padding: 20px;
}
header nav {
    flex: 1;
    padding: 20px;;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 380px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
main {
  height: calc(100-180px);
  display: flex;
  border: 0px solid rgb(252, 184, 184);
  box-shadow: 5px 5px 5px rgb(252, 184, 184);
  margin: 0 10px 10px 10px;
  background-image: linear-gradient(white, rgb(119, 117, 117));
}
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1200px;
}
main div {
    flex: 1;
}
.image img {
    margin:120px 100px; 
    width: 350px;
}

.about-content {
    border: 0px solid rgb(119, 17, 17);
    width: 500px;
    height: 500px;
    text-align: justify;
    font-family: 'Varela Round', sans-serif;
    margin: 100px;
    padding: 10px;
}
h2 {
    font-size: 20pt;
    text-shadow: 4px 4px 5px rgb(63, 62, 62);
    padding: 20px 0;
}
p {
    line-height: 1.6;
    padding: 20px 0;
}


@media (max-width: 576px) {
    main {
       flex-direction: column;
    }
    #wrapper {
       margin-left:auto;
       margin-right:auto;
       width: 450px;
       height: 750px;
    }
    .image img {
       display: block;
       width: 50%;
       margin: 60px auto;
    }
    .about-content {
        width: 400px;
        margin: 0 20px;
    }
    p, h2 {
        margin: 0;
    }
}