body {
    height: 100%;
    background-color: bisque;       
    
}

.main-container {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 40% 20% 20% 20%; 
    /* grid-gap: 10px; */
     
}



img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px 15px;
}

