body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(170, 152, 252, 0.555);
  }
  /* What kind of selector is this? */
  
  .logo {
    width: 100px;
    height: 100px;
    margin: 3% 10%;
  }

  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }

  main {
   /* height: auto;
    width: 60%;
    display: grid;
    grid-template-columns: 30% 40% 30%;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
  }

  /* This is an element within and element selector */ 
  nav > a {
    margin: 8% 3% 5%;
    height: 12%;
    width: 15%;
    color: rgb(74, 3, 107);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    background: transparent;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
    text-decoration: none;
  }

  .has-border {
    border-radius: 10px;
    border: 2px solid #fa9333;
    background-color: rgb(252, 184, 184);
    padding: 8px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 2%;
  }
  /* This is an ID selector */
  #pofolio-pic {
    display: block;
    width: 200px;
    height: 200px;
    border: 3px solid rgba(94, 50, 253, 0.76);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;  
  }

  h1 {
    color:rgb(8, 8, 8);
    display: block;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-size: 3em;
    text-shadow: 2px 2px 8px rgb(252, 184, 184);
  }

  h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 1em;
    font-weight: bold;
    margin: 25px auto;
    
  }

  .small-text {
    /*text-align: center;
    color: rgb(68, 48, 248);
    font-size: 12px;
    margin: 100px auto;
    padding: auto;*/
    margin: 0 auto;
    text-align: center;
  }

  button {
    /*position: absolute;
    margin: 10px auto;
    width: 25%;
    height: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 5px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100px;
    border: 3px solid rgb(1, 29, 1);
    border-radius: 25px; 
    margin: auto;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: rgb(71, 2, 2);
    letter-spacing: 1px;
    font-style: italic;
  }